.container {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 2rem;
    text-align: center;
    margin-top: 4rem;
    max-width: 800px;
    margin: 4rem auto; /* Centra el contenedor horizontalmente */
    box-shadow: 0 4px 12px var(--card-shadow-color); /* Sombra para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  }
  
  .container:hover {
    transform: translateY(-10px); /* Efecto de elevación al pasar el ratón */
    box-shadow: 0 8px 24px var(--card-shadow-color); /* Sombra más pronunciada */
  }
  
  .contact-form {
    background-color: var(--card-background-color); /* Blanco */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px var(--card-shadow-color); /* Sombra */
    margin-top: 2rem;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
  }
  
  .contact-form:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
    box-shadow: 0 8px 24px var(--card-shadow-color); /* Sombra más pronunciada */
  }
  
  .contact-form h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: var(--secondary-color); /* Color secundario */
  }
  
  .contact-form label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--text-color); /* Gris oscuro */
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .contact-form button {
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: var(--secondary-color);
  }