/* App.css */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  background-color: var(--footer-background-color);
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  width: 100%;
  margin-top: auto;
}
